<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lost & Found</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/custom-styles.css') }}" />

</head>

<body>
<header>
    <div id="content">
        <img src="{{ asset('images/L&F.jpg') }}" class="ribbon"/>
    </div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('welcome') }}">Acceuil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('lost') }}">Lost</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('found') }}">Found</a>
                    </li>
                </ul>
            </div>
        </div>


    </nav>
</header>

<main role="main" class="container main">
    <div>
        <h1>Welcome !</h1>
        <p class="lead">If you lost something so important to you, or if you found something and want to help the person who lost it, you’ve come to the right place.</p>
        <p class="lead">If you want to declare a lost item, please fill in the form in the “Lost” section thoroughly. You will get an email as soon as we find a matching item.</p>
        <p class="lead">If you found an item, please fill in the form in the “Found” section.</p>
        <p class="lead">And always remember : Be good to one another !</p>

    </div>
</main>
</body>
</html>